
* {
  margin: 0;
}
html, body {
  height: 100%;
}
#page_wrapper {
  min-height: 100%;
  margin-bottom: -35px;  /* equal to footer height */
}
#page_wrapper:after {
  content: "";
  display: block;
}
.footer, #page_wrapper:after {
  height: 35px;   /* .push must be the same height as footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/